.nav {
    display: grid;
    grid-template: 1fr 5fr / 1fr 4fr;
    height: 100vh;
}

.dashboard {
    background-color: blue;
    grid-column: 1 / 2;
    grid-row: 1 / -1 ;
}

.header {
    background-color: grey;
    grid-column: 2 / -1;
    grid-row: 1 / 2;
}

.projects {
    background-color: white;
    grid-column: 2 / -1;
    grid-row: 2 / -1;
}