body {
    margin: 0;
    font-family: Roboto, sans-serif;
    overflow: hidden;
}

.nav {
    display: grid;
    grid-template: 1fr 5fr / 1fr 4fr;
    height: 100vh;
}

img {
    display: inline;
    width: 2em;
    height: 2em;
    stroke: white;
}

p {
    margin: 0;
}

hr {
    border: grey solid 1px;
}

.dashboard {
    background-color: blue;
    grid-column: 1 / 2;
    grid-row: 1 / -1 ;
}

.dashboard > * {
    margin: 20px;
    margin-bottom: 50px;
    color: white;
}

.header {
    background-color: white;
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    display: grid;
    grid-template: 1fr 2fr / 2fr 1fr;
}

.header > div {
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
}

.space {
    justify-content: space-around;
}

.icon {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 18px;
}

.end {
    justify-content: end;
    gap: 10px;
}

.projects {
    padding-top: 25px;
    background-color: grey;
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    display: grid;
    grid-template: 50px 1fr 50px 1fr / 5fr 2fr;
    overflow-y: auto;
}

.your_projects {
    grid-column: 1 / -2;
    grid-row: 2 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.your_projects > div {
    margin: 10px;
    padding: 10px;
    background-color: white;
}

.announcements {
    background-color: white;
    margin: 10px;
    padding: 10px;
}

.trending {
    background-color: white;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.sub_heading {
    font-weight: 800;
    font-size: 22px;
}

.heading {
    font-size: 32px;
}